# Apartado 1 - Variables 

- Variables y tipos
- Números y operadores
- None
- Booleano
- Condicional `if`
- Input

------------------------------------------------------------------

## Variables y tipos

```python
String - str
Integer - int
Float - float
List - list
Tuple - tuple
Set - set
None 
Boolean - bool
```

In [29]:
gh = 2

In [31]:
del gh

In [32]:
print(gh)

NameError: name 'gh' is not defined

In [ ]:
# int 
x = 2
# float
y = 2.2
# string (str)
z = "Soy String"
# list --> mutable (se puede modificar)
# l.append()
# l.clear()
# l.pop()
# l.remove()
l = [x, y, z, "String", [1, 9]]
primer_elemento_de_l = l[0]
# tuple --> inmutable 
t = (x, y, z)
primer_elemento_de_t = t[0]
# NO HACER (utilizar palabras reservadas como nombres de variables)
#print = "7"

In [19]:
x = 2 + 2

In [20]:
print(x)

4

In [26]:
# x es de tipo Integer (int)
x = 2
# y es de tipo String (str)
y = "Hola Mundo?'#342242"  # String es una lista de caracteres
print(x)
print(type(x))
print(y)
print(type(y))

2
<class 'int'>
Hola Mundo?'#342242
<class 'str'>

In [27]:
x = 2 + 2
y = "3"
z = x + y

print(z)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [29]:
y = "3"
print(type(y))
print(y)
y = int(y)
print(type(y))
print(y)

<class 'str'>
3
<class 'int'>
3

In [38]:
# Guía de estilos PEP8  
x = 2 + 2
y = "3"
z = x + int(y)

print(z)

7

In [34]:
# Tipo int 2
# Tipo str "3"
# No podemos sumar el tipo int con el tipo str
# Podemos cambiar el tipo str a int utilizando la función int(x)

gabriel_vazquez = "Gabriel Vázquez"
print(gabriel_vazquez)
x = gabriel_vazquez
print(x)

Gabriel Vázquez
Gabriel Vázquez

In [35]:
# El String es una colección de caracteres  
x = "2"
y = "3"
z = x + y

print(z)

23

In [52]:
string = "Hola clase bootcamp"
print(len(string))
print(len(4))

19

TypeError: object of type 'int' has no len()

In [43]:
# El tipo float

x = 2
y = 2.2
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [45]:
z = x + y
print(type(z))
print(z)

<class 'float'>
4.2

In [47]:
z = x - y 
print(type(z))
print(z)

<class 'float'>
-0.20000000000000018

In [48]:
x = 2 
y = 2.0
z = x - y
print(type(z))
print(z)

<class 'float'>
0.0

In [53]:
# + 
# - 
# / 
# //
# *

x = 2 
y = 2.5

# suma (+)
print("z = x + y")
z = x + y
print(type(z))
print(z)

# resta (-)
print("z = x - y")
z = x - y
print(type(z))
print(z)

# multiplicación (*)
print("z = x * y")
z = x * y
print(type(z))
print(z)

# división (/) (//)
print("z = x / y")
z = x / y
print(type(z))
print(z)

# división (//)
print("z = x // y")
z = x // y
print(type(z))
print(z)

z = x + y
<class 'float'>
4.5
z = x - y
<class 'float'>
-0.5
z = x * y
<class 'float'>
5.0
z = x / y
<class 'float'>
0.8
z = x // y
<class 'float'>
0.0

In [56]:
# La división NO absoluta se queda con el número a la izquierda del 0
x = 2
y = 3
z = x // y
print(z)
print(type(z))

0
<class 'int'>

In [59]:
# La división NO absoluta se queda con el número a la izquierda de los decimales
x = 2
y = 4.
z = x // y
print(z)
print(type(z))

0.0
<class 'float'>

In [ ]:
# 3. es sinónimo de 3.0 (son dos flotantes)

In [60]:
# Suma (Concatenar) con String

x = "Pepe"
y = "908"
z = x + y
print(z)

Pepe908

In [61]:
# Resta con String

x = "Pepe"
y = "908"
z = x - y
print(z)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [62]:
# Multiplicación con String

x = "Pepe"
y = "908"
z = x * y
print(z)

TypeError: can't multiply sequence by non-int of type 'str'

In [64]:
# División con String

x = "Pepe"
y = "908"
z = x // y
print(z)

TypeError: unsupported operand type(s) for //: 'str' and 'str'

In [67]:
# string
nombre = 'Gabriel'
# int
edad = 29
z = nombre + str(edad)
numero_caracteres_nombre = len(nombre)
print(z) 
print(numero_caracteres_nombre)

Gabriel29
7

In [9]:
s = "buenos días\n"
print(7*s)

buenos días
buenos días
buenos días
buenos días
buenos días
buenos días
buenos días

In [2]:
s = "hola "
print(7*s)

hola hola hola hola hola hola hola

In [42]:
# Vamos a cambiar el tipo str a int
# Cambiar el mismo tipo int a str

x = "2"
print(type(x))
y = int(x)
print(type(y))
z = str(y)
print(type(z))

<class 'str'>
<class 'int'>
<class 'str'>

In [3]:
cadena = "hello world"
entero = 4
flotante = 3.5

Esto es una celda de texto

In [2]:
print(type(cadena))

<class 'str'>

In [3]:
print(type(entero))

<class 'int'>

In [4]:
print(type(flotante))

<class 'float'>

In [5]:
x = 2

print(x)

gabriel_vazquez = "Gabriel Vazquez"

2

In [13]:
gabriel = "Gabriel"
vazquez = "Vázquez"
print(gabriel + " " + vazquez)

Gabriel Vázquez

In [6]:
print("Hello Python world!")
print("Nombre de compañero")

compañero = "Compañero123123"

Hello Python world!
Nombre de compañero

In [7]:
print(compañero)

Compañero123123

In [8]:
# String, Integer, Float, List, None (NaN)
# str, int, float, list, 

string_ = "23"
numero = 23

print(type(string_))

<class 'str'>

In [9]:
print(string_)

23

In [ ]:
# Palabras reservadas
print
str
int
len
...
x = 9 + 2 + 1 
x_ = "p"

In [91]:
x = "22k"
x = int(x)
print(x)

ValueError: invalid literal for int() with base 10: '22k'

In [92]:
x = "22.2"
x = int(x)
print(x)

ValueError: invalid literal for int() with base 10: '22.2'

In [94]:
x = "22.0"
x = float(x)
print(x)
print(type(x))

22.2
<class 'float'>

In [95]:
x = "22"
x = float(x)
print(x)
print(type(x))

22.0
<class 'float'>

In [98]:
x = 15151.5195918
x = int(x)
print(x)

15151

In [97]:
x = "22.9"
x = int(float(x))
print(x)
print(type(x))

22
<class 'int'>

In [ ]:
# Nunca utilizar una palabra reservada como nombre de variable en Python
#print = 2
print(6)

In [68]:
x = 2 
x(6)

TypeError: 'int' object is not callable

In [71]:
numero = 1

In [72]:
numero2 = 10
suma = numero + numero2
print(suma)

11

In [74]:
string_ = "4"

In [75]:
string2 = "33"
suma2 = string_ + string2
print(suma2)

433

In [76]:
m = (((numero2 + int(string2))))
print(m)

43

In [77]:
print(type(int(string2)))

<class 'int'>

In [78]:
y = 22
y = str(y)
print(type(y))
print(y)

<class 'str'>
22

In [79]:
string2 = int(string2)
print(type(string2))

<class 'int'>

In [80]:
string3 = "10"
numero_a_partir_de_string = int(string3)
print(numero_a_partir_de_string)
print(string3)

print(type(numero_a_partir_de_string))
print(type(string3))

10
10
<class 'int'>
<class 'str'>

In [82]:
h = "2"
print(int(h))

2

In [83]:
num1 = 12
num2 = 3

suma = num1 + num2
resta = num1 - num2
multiplicacion = num1 * num2 
division = num1 / num2
division_absoluta = num1 // num2

gabriel_vazquez = "Gabriel Vazquez"

print(suma)
print(resta)
print(multiplicacion)
print(division)
print(division_absoluta)
print(type(division))
print(type(division_absoluta))

15
9
36
4.0
4
<class 'float'>
<class 'int'>

In [100]:
x = "y2"
z = x * 6
print(z)

y2y2y2y2y2y2

In [101]:
x = 2
x = x ** 3
print(x)

8

#### Markdown | Texto

Esto es texto

# Esto es título 1
## Esto es título 2
### Esto es título 3

**negrita**
*cursifajfkajva*

- hola 
- adios

In [ ]:
```python 
# Título
## Esto es un subtítulo
**negrita**
*cursiva*
- marcadores
```

In [85]:
# Soy un comentario
# print("Hello Python world!")
# Estoy creando una variable que vale 2
"""
Esto es otro comentario
fsfs
fsddfsdf
"""
print(x)
x = 25
x = 76
x = "1"

2

In [86]:
message2 = "One of Python's strengths is its diverse community." 
print(message2)
message2

One of Python's strengths is its diverse community.

"One of Python's strengths is its diverse community."

#### Ejercicio
##### Crear una nueva celda y declarar tres variables: 
- Una con el nombre `edad` con valor vuestra edad
- Otra `edad_compañero_der` que contengan la edad de tipo entero de vuestro compañero de la derecha
- Otra `suma_anterior` que contenga la suma de las dos variables anteriormente declaradas

Mostrar por pantalla la variable `suma_anterior`

In [90]:
edad = 29
edad_companero_der = 28
print(type(edad))
print(type(edad_companero_der))
suma_anterior = edad + edad_companero_der
print(type(suma_anterior))
print(suma_anterior)

<class 'int'>
<class 'int'>
<class 'int'>
57

In [87]:
# intento 1

# code

# intento 2

# code

# intento 3

# code

In [ ]:
# intento 1

In [ ]:
# intento 2

In [ ]:
edad = 18
edad_companero_der = 29
suma_anterior = edad + edad_companero_der
suma_anterior

In [102]:
name = "Ada Lovelace"
x = 2
print(name.upper())
print(name.lower())

ADA LOVELACE
ada lovelace

In [ ]:
print(name.upper)

In [ ]:
print(name.upper())

In [103]:
# son sinónimos
x = 2
print(x)
x = x + 2
print(x)
x += 2
print(x)

2
4
6

In [104]:
x = 2
y = 4

print(x, y, "Pepito", "Hola")

2 4 Pepito Hola

In [105]:
x = 67
y = 25
z = x + y
print("x:", x)
print("y:", y)
print("z:", z)

x: 67
y: 25
z: 92

-----------------------------------------------------------

## Números y operadores

In [110]:
x = 3
print("- Tipo de x:")
print(type(x)) # Imprime el tipo (o `clase`) de x
print("- Valor de x:")
print(x)       # Imprimir un valor
print("- x+1:")
print(x + 1)   # Suma: imprime "4"
print("- x-1:")
print(x - 1)   # Resta; imprime "2"
print("- x*2:")
print(x * 2)   # Multiplicación; imprime "6"
print("- x^2:")
print(x ** 2)  # Exponenciación; imprime "9"
# Modificación de x
x += 1 
print("- x modificado:")
print(x)  # Imprime "4"

x *= 2  # sinónimo de --> x = x * 2
print("- x modificado:")
print(x)  # Imprime "8"

print("- Varias cosas en una línea:")
print(1, 2, x, 5*2, sep="xxx") # imprime varias cosas a la vez

- Tipo de x:
<class 'int'>
- Valor de x:
3
- x+1:
4
- x-1:
2
- x*2:
6
- x^2:
9
- x modificado:
4
- x modificado:
8
- Varias cosas en una línea:
1xxx2xxx8xxx10

In [117]:
print(x)
# 8HOLA
print(x, "HOLA", sep="")
print(str(x) + "HOLA")

8
8HOLA
8HOLA

In [118]:
y = 2.5 
print("- Tipo de y:")
print(type(y)) # Imprime el tipo de y
print("- Varios valores en punto flotante:")
print(y, y + 1, y * 2.5, y ** 2) # Imprime varios números en punto flotante

- Tipo de y:
<class 'float'>
- Varios valores en punto flotante:
2.5 3.5 6.25 6.25

## None

In [24]:
x = None

print(type(x))

<class 'NoneType'>

In [23]:
print(print())

None

-----------------------------------------------------------

## Boolean

```python
- False --> 0, None, False, [[]]
- True --> !=0, Algo, True, [[1, "2"]]
```

In [26]:
1 == 1

True

In [27]:
print(1 == 2)

False

In [28]:
1 > 2

False

In [30]:
1 >= 2

False

In [31]:
1 >= 1

True

In [32]:
1 != 2

True

In [33]:
1 <= 2

True

-----------------------------------------------------------

## Condicionales

Condition --> `< > == !=`

In [34]:
l = [2, 4, 6, 8]
s = [2, 3, 1]

if len(l) != len(s):
    print("YES")
else:
    print("NO")

YES

In [35]:
y = True
x = False

l = [2, 4, "7"]

if 1 == 2:
    print("Se cumple")
else:
    print("No se cumple")

No se cumple

In [36]:
gh == 0

NameError: name 'gh' is not defined

In [37]:
x = 2
if x == 2:
    print("IF")
    x = 2
    y = "dkgjsigs"
    if x == 2:
        print("IF-2")
elif x >= 4:
    print("ELIF-gisjigjsigji")
elif x >= 2:
    print("ELIF")
else:
    print("ELSE")

IF
IF-2

In [ ]:
x = 5.5

if (x >= 1) and (x <= 3):
    print("Mayor a 1 y menor a 3")
elif x > 5 and x < 6:
    print("Mayor a 5 o menor a 6")

    if x == 1 or x == 2 or x >= 4:
        print("Tres")
    else:
        print("Else")

In [38]:
s = "Benancio"
print(s[4])

n

In [39]:
x = ""

if x:
    print(True)
else:
    print(False)

False

In [40]:
True and True

True

In [41]:
(1==1) or (1==2)

True

In [42]:
gab = "Gabriel"
len(gab)

7

In [43]:
gab[2]

'b'

In [1]:
if not(1 == 1):
    print(True)
else:
    print(False)

False

In [2]:
y = 2
if y:
    print("Y")
if not(y):
    print(6)
else:
    print("imprime otra cosa")

Y
imprime otra cosa

-----------------------------------------------------------

## Input

In [22]:
nombre = input("Dame un nombre:")
print(type(nombre))
f = 23
z =  + f
print("nombre:", nombre)
print("z:", z)

<class 'str'>

ValueError: invalid literal for int() with base 10: '23a'

In [24]:
x = int(input("Escribe un número:"))
print(type(x))
print(x)

ValueError: invalid literal for int() with base 10: '23g'

In [44]:
x = input("Escribe tu nombre:")
print(x)

Escribe tu nombre: Gabriel

Gabriel

In [25]:
primero = int(input("Inserta un número:"))
segundo = int(input("Inserta otro número:"))

print(primero + segundo)

6

In [27]:
x = "2A"

x.lower()

'2a'

In [47]:
p = input("Número 1:")
k = input("Número 2:")

if p.isnumeric() and k.isnumeric():
    j = int(p) + int(k)
    print(j)
else:
    print("Solo están permitidos números.")

Número 1: 3
Número 2: 4

7

In [49]:
x = "X"
y = 4

print(x > y)

TypeError: '>' not supported between instances of 'str' and 'int'

---------------------------------------------------------------------------------------------------------