# Apartado 2 - Collections

º- Listas, tuplas y colecciones
- Diccionarios

--------------------------------------------------------------------------------------

In [4]:
x = 2
y = "2"

# listas
lista = [x, y, 99, "85715", 518.31]
print(type(lista))
print("Elementos de lista:", len(lista))
print(lista)

<class 'list'>
Elementos de lista: 5
[2, '2', 99, '85715', 518.31]

## Listas

In [49]:
lc = ["red", "blue", "green"]
print(type(lc))
print(lc)

<class 'list'>
['red', 'blue', 'green']

In [3]:
len(lc)

3

In [4]:
la = ["red", "blue", "green", 2, 6.9]
la

['red', 'blue', 'green', 2, 6.9]

In [7]:
# Acceder a posiciones
lista = [x, y, 99, "85715", 518.31]

print(lista[2])
z = int(lista[3]) + lista[4]
print(z)

99
86233.31

In [9]:
# Acceder a posiciones
# Empiezan desde la posición 0
# La última posición es -1 
lista = [x, y, 99, "85715", 518.31]

print(lista[2])
z = int(lista[-2]) + lista[-1]
print(z)

99
86233.31

In [13]:
lista = [x, y, 99, "85715", 518.31]

tamano_lista = len(lista)  # 5
posicion_de_ultimo_elemento = tamano_lista - 1  # 4
posicion_de_elemento_del_medio = posicion_de_ultimo_elemento // 2  # 2

print("tamano_lista:", tamano_lista)
print("posicion_de_ultimo_elemento:", posicion_de_ultimo_elemento)
print(lista[posicion_de_ultimo_elemento], lista[-1])
print("posicion_de_elemento_del_medio:", posicion_de_elemento_del_medio)
print(lista[2], lista[posicion_de_elemento_del_medio])

tamano_lista: 5
posicion_de_ultimo_elemento: 4
518.31 518.31
posicion_de_elemento_del_medio: 2
99 99

In [19]:
# Listas son colecciones de elementos
# Empiezan por la posición 0
# Si empezamos al revés, empieza desde el -1
# Pueden contener cualquier cantidad de elementos

lista = [x, y, 99, "85715", 518.31]
lista[-6]

IndexError: list index out of range

In [24]:
# Accediendo al último elemento del último elemento
lista = [x, y, 99, "85715", 518.31, [-1, "A"]]
print(lista[5][-1])
print(lista[-1][-1])
print(lista[-1][1])

A
A
A

In [5]:
print(la[0])

red

In [6]:
la[4]

6.9

In [7]:
# Última posición
la[-1]

6.9

In [8]:
# Penúltima posición
la[-2]

2

In [9]:
len(la)

5

In [10]:
la

['red', 'blue', 'green', 2, 6.9]

In [11]:
tamano = len(la)
la[tamano - 2]

2

In [25]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0]

print(bicycles)
print(message)

['trek', 'cannondale', 'redline', 'specialized']
My first bicycle was a trek

`list.reverse`

In [13]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

In [26]:
lista = [2, 4, "x", "x", 6]
print(lista)
lista.remove(4)
print(lista)

[2, 4, 'x', 'x', 6]
[2, 'x', 'x', 6]

In [28]:
# Eliminar por valor del elemento
lista = [2, 4, "x", 6, "x"]
print(lista)
lista.remove("x")
print(lista)

[2, 4, 'x', 6, 'x']
[2, 4, 6, 'x']

In [40]:
# Eliminar por posición del elemento

lista = [2, 4, "x", 6, "x"]
print(lista)
lista.pop()
lista.pop()
lista.pop()
lista.pop()
print(lista)

[2, 4, 'x', 6, 'x']
[2]

In [46]:
lista = ["A", "2"]
print(lista)
elemento_eliminado = lista.pop(0)
print("elemento_eliminado:", elemento_eliminado)
print(lista)

['A', '2']
elemento_eliminado: A
['2']

In [48]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati'] 
motorcycles.remove("honda")
motorcycles.remove("yamaha")
motorcycles.remove("suzuki")
motorcycles.remove("ducati")
print(motorcycles)

[]

In [49]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati'] 
motorcycles.pop()
motorcycles.pop()
motorcycles.pop()
motorcycles.pop()
print(motorcycles)

[]

In [50]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati'] 
motorcycles.clear()
print(motorcycles)

[]

In [51]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati', 'suzuki'] 
# count devuelve el número de ocurrencias de un valor 
print(motorcycles.count('suzuki'))

2

In [17]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati'] 
print(motorcycles)

too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print(too_expensive + " is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']
ducati is too expensive for me.

In [52]:
motorcycles.remove(too_expensive)
print("END")

NameError: name 'too_expensive' is not defined

In [53]:
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati', 'suzuki']

In [54]:
# añadir un elemento a la última posición
motorcycles.append(35235)
print("Tamaño de la lista: " + str(len(motorcycles)))
print("salto")
print("m")
print("n")
print("---------")
print(motorcycles[-2])
print("---------")
print(motorcycles)

Tamaño de la lista: 6
salto
m
n
---------
suzuki
---------
['honda', 'yamaha', 'suzuki', 'ducati', 'suzuki', 35235]

In [55]:
print(type(motorcycles))

<class 'list'>

In [20]:
type(len(motorcycles))

int

[2, 6]   --> el corchete es incluido

(2, 6]   --> el paréntesis es no incluido

In [56]:
# Cuando cogemos varios elementos de la lista [n:m), 'm' es sin incluir

lista = [1, 2, 3, 6, 7, 8]

print(lista[1:4])

[2, 3, 6]

In [57]:
print(lista[2:4])

[3, 6]

In [58]:
l = [1, 2, 3, 4, 5 ,6 ,7 ,8 ,9]

print(l[0:4])

[1, 2, 3, 4]

--------------------------------------------------------------------------------------

### Tuplas

Las tuplas se inicializan con paréntesis

Son inmutables

In [60]:
tupla = ("2", "3", "2")
print(type(tupla))
print(tupla)

<class 'tuple'>
('2', '3', '2')

In [61]:
tupla.remove("2")

AttributeError: 'tuple' object has no attribute 'remove'

In [62]:
print(len(tupla))

3

In [63]:
print(type(tupla))

<class 'tuple'>

In [64]:
l = []
print(type(l))

<class 'list'>

In [65]:
t = ("A", 2, "B")
print(t)
print(type(t))

('A', 2, 'B')
<class 'tuple'>

In [78]:
t = ("A", 2, "B")
print(t)
t = list(t)
print(type(t))
print(t)
t.remove("A")
print(t)
t = tuple(t)
print(type(t))
print(t)

('A', 2, 'B')
<class 'list'>
['A', 2, 'B']
[2, 'B']
<class 'tuple'>
(2, 'B')

In [79]:
t = ("A", 
    2, 
    "B", 
    ["Bootcamp", "DataScience"],
     (-80, -100))

print(t[3][1])

DataScience

In [87]:
lista = [2, 4, "x", 6, "x"]

print(lista)
tupla = tuple(lista)
print(tupla)

[2, 4, 'x', 6, 'x']
(2, 4, 'x', 6, 'x')

In [27]:
t = ("5,7", 8, [2,5])
t_to_list = list(t)
print(type(t))
print(type(t_to_list))
list_to_tuple = tuple(t_to_list)

<class 'tuple'>
<class 'list'>

In [28]:
t = (2,4,6,8)
print(type(t))
t = list(t)
t.append(45)
print(type(t))
t = tuple(t)
print(type(t))
t

<class 'tuple'>
<class 'list'>
<class 'tuple'>

(2, 4, 6, 8, 45)

In [4]:
l = [2, 4, 6, 8]
t = (((2,)))

print(type(t))
print(t)

<class 'tuple'>
(2,)

In [9]:
t = (((1,4),3),2)
if t:
    print(1)
else:
    print(0)
print(t)
print(t[0])
print(t[0][0])
print(t[0][0][0])

1
(((1, 4), 3), 2)
((1, 4), 3)
(1, 4)
1

In [19]:
# remove
lista = [2, 
        ["A", (0 , 1)],
        "B"]

# remove(valor_del_elemento)
# pop(posición)

print(lista)
# accedemos a la posición 1 porque ese es el elemento que contiene la tupla (0, 1)
lista[1].remove((0, 1))
print(lista)

[2, ['A', (0, 1)], 'B']
[2, ['A'], 'B']

In [23]:
#pop
lista = [2, 
        ["A", (0 , 1)],
        "B"]

# remove(valor_del_elemento)
# pop(posición)

print(lista)
lista[1].pop(0)
print(lista)

[2, ['A', (0, 1)], 'B']
[2, [(0, 1)], 'B']

In [14]:
l = ["A", (0, 1)]
print(l)
l.remove((0, 1))
print(l)

['A', (0, 1)]
['A']

In [28]:
l = ["A"]
l.append([8, 9, (1, 2)])
print("l:", l)
print("l[1]:", l[1])
print("l[1][2]:", l[1][2])
print("l[1][2][0]:", l[1][2][0])

l: ['A', [8, 9, (1, 2)]]
l[1]: [8, 9, (1, 2)]
l[1][2]: (1, 2)
l[1][2][0]: 1

In [30]:
type(l[1][2][0])

int

In [33]:
# Actualización de elemento en colección (lista)

# Modificar la "A" por --> 2
l = ["A", (0, 1)]
l.pop()
l.pop()
print(l)
l.append(2)
print(l)
l.append((0, 1))
print(l)

[]
[2]
[2, (0, 1)]

In [34]:
# Actualización de elemento en colección (lista)

# Modificar la "A" por --> 2
l = ["A", (0, 1)]
l[0] = 2
print(l)

[2, (0, 1)]

In [13]:
(0, 1) == (0, 1)

True

In [ ]:
x = (0, 1)

--------------------------------------------------------------------------------------

### Set

In [42]:
s = {}
print(type(s))

<class 'set'>

In [45]:
s = [2, 2, 2, 2, 2, 2]
print(len(s))
s = set(s)
print(s)
print(len(s))

6
{2}
1

In [35]:
l = ["x", 6, "y", "y", "a", 7, 8, 5]
l = set(l)
print(l)

{'a', 'y', 6, 7, 8, 'x', 5}

1734510823280

In [29]:
l = ["x", 6, "y", "y", "a", 7, 8, 5]
print("l:", l)
print(type(l))
s = set(l)
print(type(s))
print("s:", s)
len(s)

l: ['x', 6, 'y', 'y', 'a', 7, 8, 5]
<class 'list'>
<class 'set'>
s: {'y', 5, 6, 7, 8, 'a', 'x'}

7

In [48]:
# Una tupla sin elementos repetidos ni el 8
l = ("x", 6, "y", "y", "a", 7, 8, 5)
print(type(l))
l = set(l)  # Lo pasamos a set para eliminar elementos repetidos
print(type(l))
l = list(l)  # Lo pasamos a lista para eliminar el 8
print(type(l))
l.remove(8)
l = tuple(l)
print(type(l))
print(l)

<class 'tuple'>
<class 'set'>
<class 'list'>
<class 'tuple'>
('a', 'y', 6, 7, 'x', 5)

--------------------------------------------------------------------------------------

In [54]:
s = "Cadena"
s = list(s)
print("list:",s)
print(len(s))
s = str(s)
print("str:",s)
print(len(s))

list: ['C', 'a', 'd', 'e', 'n', 'a']
6
str: ['C', 'a', 'd', 'e', 'n', 'a']
30

## Diccionarios

```python
{"soy_key": [4, "soy_value"]}
```

In [26]:
lista_alumnos = [("pepito", 20, 1.75), 
                 ("pepita", 40, 1.66)]

lista_nombres = []
lista_alturas = []
lista_edades = []
for tupla_alumno in lista_alumnos:
    nombre = tupla_alumno[0]
    edad = tupla_alumno[1]
    altura = tupla_alumno[2]
    lista_nombres.append(nombre)
    lista_alturas.append(altura)
    lista_edades.append(edad)

print("lista_alumnos:", lista_alumnos)
print("lista_nombres:", lista_nombres)
print("lista_alturas:", lista_alturas)
print("lista_edades:", lista_edades)

lista_alumnos: [('pepito', 20, 1.75), ('pepita', 40, 1.66)]
lista_nombres: ['pepito', 'pepita']
lista_alturas: [1.75, 1.66]
lista_edades: [20, 40]

```python
{"soy_key": [4, "soy_value"]}
```

In [ ]:
diccionario = {}
# key debe ser única
diccionario1 = {"key":"value"}

In [31]:
diccionario_nombre_altura = {"pepito":1.75}
diccionario_nombre_altura

{'pepito': 1.75}

In [30]:
dict_alumno_info = {"pepito":[20, 1.75]}
dict_alumno_info

{'pepito': [20, 1.75]}

In [32]:
# Para coger un elemento se hace a partir del valor de su clave
dict_alumno_info["pepito"]

[20, 1.75]

In [33]:
dict_alumno_info = {"pepito":[20, 1.75]}
dict_alumno_info

{'pepito': [20, 1.75]}

In [43]:
# añadir un elemento

dict_alumno_info["key"] = "value"
dict_alumno_info

{'pepito': [20, 1.75], 'key': 'value', 0: 2}

In [35]:
dict_alumno_info[0] = 2
dict_alumno_info

{'pepito': [20, 1.75], 'key': 'value', 0: 2}

In [40]:
dict_alumno_info["pepito"]

[20, 1.75]

In [47]:
# crear diccionario vacío
diccionario = {}
# añadir elemento a diccionario (clave:valor)
diccionario["nombre_clave"] = 98 
diccionario

{'nombre_clave': 98}

In [48]:
# coger el valor a partir de la clave
diccionario["nombre_clave"]

98

In [49]:
# eliminar una clave:valor
del diccionario["nombre_clave"]
diccionario

{}

In [51]:
diccionario = {0: [2, 4], "X":"A"}

diccionario

{0: [2, 4], 'X': 'A'}

In [52]:
# 3 formas de recorrer un diccionario

# 1a. Por clave

for key in diccionario:
    print("key:", key)

key: 0
key: X

In [53]:
# 1a. Por clave

for key in diccionario.keys():
    print("key:", key)

key: 0
key: X

In [55]:
# 2a. Por valor
print(diccionario)
for value in diccionario.values():
    print("value:", value)

{0: [2, 4], 'X': 'A'}
value: [2, 4]
value: A

In [58]:
# 3a. Por clave y valor
print(diccionario)
for key, value in diccionario.items():
    print("--------")
    print("key:", key)
    print("value:", value)
    print(key, ":", value)

{0: [2, 4], 'X': 'A'}
--------
key: 0
value: [2, 4]
0 : [2, 4]
--------
key: X
value: A
X : A

In [59]:
student_list = [("Gabriel Vázquez", 29, 1.75), ("Leonardo Sánchez", 24, 1.82), ("Piero Termini", 25, 1.71), ("Marta Buesa", 35, 1.66), ("Silvia Pasinato", 37, 1.63), ("Faro Zamani", 29, 1.90), ('Miguel Nievas', 27, 1.80), ("Alejandro Medina", 28, 1.70), ("Cristina Martínez", 32, 1.60), ("Francisco Palma", 36, 1.74), ("Jorge Duque", 45, 1.72), ("Jesús Llanes", 41, 1.65), ("Luis Pech", 18, 1.71), ("Marta Gómez", 30, 1.65), ("Jennifer Sanchez", 40, 1.60), ("Diego Isla", 39, 1.80), ("Nuria Brocar", 35, 1.75), ("Antonio Campaña", 23, 1.77), ("Isabella Schindowski", 34, 1.60), ("Juan Maniglia", 32, 1.75), ("David Suárez", 27, 1.70), ("Antonio Jiménez", 34, 1.80), ("Carlos Hernández", 27, 1.77), ("Erik Urresta", 28, 1.70), ("Marcos Lobo", 35, 1.80), ("Natalia Fernandez", 31, 1.70)]

print(student_list)

[('Gabriel Vázquez', 29, 1.75), ('Leonardo Sánchez', 24, 1.82), ('Piero Termini', 25, 1.71), ('Marta Buesa', 35, 1.66), ('Silvia Pasinato', 37, 1.63), ('Faro Zamani', 29, 1.9), ('Miguel Nievas', 27, 1.8), ('Alejandro Medina', 28, 1.7), ('Cristina Martínez', 32, 1.6), ('Francisco Palma', 36, 1.74), ('Jorge Duque', 45, 1.72), ('Jesús Llanes', 41, 1.65), ('Luis Pech', 18, 1.71), ('Marta Gómez', 30, 1.65), ('Jennifer Sanchez', 40, 1.6), ('Diego Isla', 39, 1.8), ('Nuria Brocar', 35, 1.75), ('Antonio Campaña', 23, 1.77), ('Isabella Schindowski', 34, 1.6), ('Juan Maniglia', 32, 1.75), ('David Suárez', 27, 1.7), ('Antonio Jiménez', 34, 1.8), ('Carlos Hernández', 27, 1.77), ('Erik Urresta', 28, 1.7), ('Marcos Lobo', 35, 1.8), ('Natalia Fernandez', 31, 1.7)]

In [63]:
# {"nombre_alumno": [edad, altura]}
diccionario_alumno = {}
#diccionario_alumno["ataulfo"] = [20, 1.8] 
# dentro del bucle for  se añaden todos los alumnos 
# y profesores junto con una lista que tiene la edad y la altura
for tupla_alumno in student_list:
    nombre = tupla_alumno[0]
    edad = tupla_alumno[1]
    altura = tupla_alumno[2]
    # añadimos nombre : [edad, altura]
    diccionario_alumno[nombre] = [edad, altura] 
print(diccionario_alumno)

{'Gabriel Vázquez': [29, 1.75], 'Leonardo Sánchez': [24, 1.82], 'Piero Termini': [25, 1.71], 'Marta Buesa': [35, 1.66], 'Silvia Pasinato': [37, 1.63], 'Faro Zamani': [29, 1.9], 'Miguel Nievas': [27, 1.8], 'Alejandro Medina': [28, 1.7], 'Cristina Martínez': [32, 1.6], 'Francisco Palma': [36, 1.74], 'Jorge Duque': [45, 1.72], 'Jesús Llanes': [41, 1.65], 'Luis Pech': [18, 1.71], 'Marta Gómez': [30, 1.65], 'Jennifer Sanchez': [40, 1.6], 'Diego Isla': [39, 1.8], 'Nuria Brocar': [35, 1.75], 'Antonio Campaña': [23, 1.77], 'Isabella Schindowski': [34, 1.6], 'Juan Maniglia': [32, 1.75], 'David Suárez': [27, 1.7], 'Antonio Jiménez': [34, 1.8], 'Carlos Hernández': [27, 1.77], 'Erik Urresta': [28, 1.7], 'Marcos Lobo': [35, 1.8], 'Natalia Fernandez': [31, 1.7]}

In [66]:
# Una nueva lista que contenga todos los nombres
# cuya altura sea mayor a 1.7  (recorriendo el diccionario)

lista_filtro_altura = []
for nombre, edad_altura in diccionario_alumno.items():
    if edad_altura[1] > 1.7:
        lista_filtro_altura.append(nombre)

print("lista_filtro_altura:", lista_filtro_altura)
#print(nombre, ":", edad_altura)

lista_filtro_altura: ['Gabriel Vázquez', 'Leonardo Sánchez', 'Piero Termini', 'Faro Zamani', 'Miguel Nievas', 'Francisco Palma', 'Jorge Duque', 'Luis Pech', 'Diego Isla', 'Nuria Brocar', 'Antonio Campaña', 'Juan Maniglia', 'Antonio Jiménez', 'Carlos Hernández', 'Marcos Lobo']

In [67]:
diccionario_alumno

{'Gabriel Vázquez': [29, 1.75],
 'Leonardo Sánchez': [24, 1.82],
 'Piero Termini': [25, 1.71],
 'Marta Buesa': [35, 1.66],
 'Silvia Pasinato': [37, 1.63],
 'Faro Zamani': [29, 1.9],
 'Miguel Nievas': [27, 1.8],
 'Alejandro Medina': [28, 1.7],
 'Cristina Martínez': [32, 1.6],
 'Francisco Palma': [36, 1.74],
 'Jorge Duque': [45, 1.72],
 'Jesús Llanes': [41, 1.65],
 'Luis Pech': [18, 1.71],
 'Marta Gómez': [30, 1.65],
 'Jennifer Sanchez': [40, 1.6],
 'Diego Isla': [39, 1.8],
 'Nuria Brocar': [35, 1.75],
 'Antonio Campaña': [23, 1.77],
 'Isabella Schindowski': [34, 1.6],
 'Juan Maniglia': [32, 1.75],
 'David Suárez': [27, 1.7],
 'Antonio Jiménez': [34, 1.8],
 'Carlos Hernández': [27, 1.77],
 'Erik Urresta': [28, 1.7],
 'Marcos Lobo': [35, 1.8],
 'Natalia Fernandez': [31, 1.7]}

In [74]:
lista = ["A", "B", "C"]

for x in enumerate(lista):
    print(x)

(0, 'A')
(1, 'B')
(2, 'C')

In [82]:
# lista alturas
# lista nombres 
# lista edades 

lista_nombres = []
lista_alturas = []
lista_edades = []
for key, value in diccionario_alumno.items():
    print("------")
    print("key:", key)
    print("value:", value)
    lista_nombres.append(key)
    lista_edades.append(value[0])
    lista_alturas.append(value[1])

print("lista_nombres:", lista_nombres)
print("lista_alturas:", lista_alturas)
print("lista_edades:", lista_edades)

------
key: Gabriel Vázquez
value: [29, 1.75]
------
key: Leonardo Sánchez
value: [24, 1.82]
------
key: Piero Termini
value: [25, 1.71]
------
key: Marta Buesa
value: [35, 1.66]
------
key: Silvia Pasinato
value: [37, 1.63]
------
key: Faro Zamani
value: [29, 1.9]
------
key: Miguel Nievas
value: [27, 1.8]
------
key: Alejandro Medina
value: [28, 1.7]
------
key: Cristina Martínez
value: [32, 1.6]
------
key: Francisco Palma
value: [36, 1.74]
------
key: Jorge Duque
value: [45, 1.72]
------
key: Jesús Llanes
value: [41, 1.65]
------
key: Luis Pech
value: [18, 1.71]
------
key: Marta Gómez
value: [30, 1.65]
------
key: Jennifer Sanchez
value: [40, 1.6]
------
key: Diego Isla
value: [39, 1.8]
------
key: Nuria Brocar
value: [35, 1.75]
------
key: Antonio Campaña
value: [23, 1.77]
------
key: Isabella Schindowski
value: [34, 1.6]
------
key: Juan Maniglia
value: [32, 1.75]
------
key: David Suárez
value: [27, 1.7]
------
key: Antonio Jiménez
value: [34, 1.8]
------
key: Carlos Hernández
value: [27, 1.77]
------
key: Erik Urresta
value: [28, 1.7]
------
key: Marcos Lobo
value: [35, 1.8]
------
key: Natalia Fernandez
value: [31, 1.7]
lista_nombres: ['Gabriel Vázquez', 'Leonardo Sánchez', 'Piero Termini', 'Marta Buesa', 'Silvia Pasinato', 'Faro Zamani', 'Miguel Nievas', 'Alejandro Medina', 'Cristina Martínez', 'Francisco Palma', 'Jorge Duque', 'Jesús Llanes', 'Luis Pech', 'Marta Gómez', 'Jennifer Sanchez', 'Diego Isla', 'Nuria Brocar', 'Antonio Campaña', 'Isabella Schindowski', 'Juan Maniglia', 'David Suárez', 'Antonio Jiménez', 'Carlos Hernández', 'Erik Urresta', 'Marcos Lobo', 'Natalia Fernandez']
lista_alturas: [1.75, 1.82, 1.71, 1.66, 1.63, 1.9, 1.8, 1.7, 1.6, 1.74, 1.72, 1.65, 1.71, 1.65, 1.6, 1.8, 1.75, 1.77, 1.6, 1.75, 1.7, 1.8, 1.77, 1.7, 1.8, 1.7]
lista_edades: [29, 24, 25, 35, 37, 29, 27, 28, 32, 36, 45, 41, 18, 30, 40, 39, 35, 23, 34, 32, 27, 34, 27, 28, 35, 31]

In [87]:
print(len(lista_nombres))
print(len(lista_edades))

26
26

In [92]:
diccionario_zip = {}

for pos, nombre in enumerate(lista_nombres):
    diccionario_zip[nombre] = lista_edades[pos]

diccionario_zip

{'Gabriel Vázquez': 29,
 'Leonardo Sánchez': 24,
 'Piero Termini': 25,
 'Marta Buesa': 35,
 'Silvia Pasinato': 37,
 'Faro Zamani': 29,
 'Miguel Nievas': 27,
 'Alejandro Medina': 28,
 'Cristina Martínez': 32,
 'Francisco Palma': 36,
 'Jorge Duque': 45,
 'Jesús Llanes': 41,
 'Luis Pech': 18,
 'Marta Gómez': 30,
 'Jennifer Sanchez': 40,
 'Diego Isla': 39,
 'Nuria Brocar': 35,
 'Antonio Campaña': 23,
 'Isabella Schindowski': 34,
 'Juan Maniglia': 32,
 'David Suárez': 27,
 'Antonio Jiménez': 34,
 'Carlos Hernández': 27,
 'Erik Urresta': 28,
 'Marcos Lobo': 35,
 'Natalia Fernandez': 31}

In [89]:
diccionario_zip = {}

for pos in range(len(lista_nombres)):
    nombre = lista_nombres[pos]
    edad = lista_edades[pos]
    diccionario_zip[nombre] = edad

diccionario_zip

{'Gabriel Vázquez': 29,
 'Leonardo Sánchez': 24,
 'Piero Termini': 25,
 'Marta Buesa': 35,
 'Silvia Pasinato': 37,
 'Faro Zamani': 29,
 'Miguel Nievas': 27,
 'Alejandro Medina': 28,
 'Cristina Martínez': 32,
 'Francisco Palma': 36,
 'Jorge Duque': 45,
 'Jesús Llanes': 41,
 'Luis Pech': 18,
 'Marta Gómez': 30,
 'Jennifer Sanchez': 40,
 'Diego Isla': 39,
 'Nuria Brocar': 35,
 'Antonio Campaña': 23,
 'Isabella Schindowski': 34,
 'Juan Maniglia': 32,
 'David Suárez': 27,
 'Antonio Jiménez': 34,
 'Carlos Hernández': 27,
 'Erik Urresta': 28,
 'Marcos Lobo': 35,
 'Natalia Fernandez': 31}

In [ ]:
diccionario_zip = {}

contador = 0
for valor in lista_nombres:
    nombre = valor
    edad = lista_edades[contador]
    diccionario_zip[nombre] = edad
    contador += 1

diccionario_zip

In [83]:
# Fusiona dos colecciones. La que pongamos a la izquierda serán
# las claves y lo que pongamos a la derecha sus valores
dict_zip = dict(zip(lista_nombres, lista_edades))
dict_zip

{'Gabriel Vázquez': 29,
 'Leonardo Sánchez': 24,
 'Piero Termini': 25,
 'Marta Buesa': 35,
 'Silvia Pasinato': 37,
 'Faro Zamani': 29,
 'Miguel Nievas': 27,
 'Alejandro Medina': 28,
 'Cristina Martínez': 32,
 'Francisco Palma': 36,
 'Jorge Duque': 45,
 'Jesús Llanes': 41,
 'Luis Pech': 18,
 'Marta Gómez': 30,
 'Jennifer Sanchez': 40,
 'Diego Isla': 39,
 'Nuria Brocar': 35,
 'Antonio Campaña': 23,
 'Isabella Schindowski': 34,
 'Juan Maniglia': 32,
 'David Suárez': 27,
 'Antonio Jiménez': 34,
 'Carlos Hernández': 27,
 'Erik Urresta': 28,
 'Marcos Lobo': 35,
 'Natalia Fernandez': 31}

In [ ]:
# repaso
diccionario = {}
diccionario["clave"] = "valor"
diccionario["pepito"] = [2, "X"]
del diccionario["clave"]
# mostrar el valor de pepito
print(diccionario["pepito"])
# actualizar el valor de la clave pepito existente
diccionario["pepito"] = (-10, -5)
# recorrer claves
for key in diccionario:
    print(key)
for value in diccionario.values():
    print(value)
for key, value in diccionario.items():
    print(key)
    print(value)

In [90]:
# Las claves solo pueden ser elementos inmutables

diccionario_2 = {}

diccionario_2 = {(2, 4): "value"}
diccionario_2

{(2, 4): 'value'}

In [91]:
diccionario_2 = {}

diccionario_2 = {[2, 4]: "value"}
diccionario_2

TypeError: unhashable type: 'list'

In [96]:
diccionario_2 = {}

diccionario_2 = {"sdasd": "value"}
diccionario_2 = {24124: "value"}
diccionario_2 = {24124.: "value"}
diccionario_2[24124.1] = {"clave": "value"}
diccionario_2

{24124.0: 'value', 24124.1: {'clave': 'value'}}

In [100]:
diccionario_2[24124.1]

{'clave': 'value'}

In [99]:
diccionario_2[24124.1]["clave"]

'value'

In [32]:
diccionario = {1:"X", "X":2}
diccionario

{1: 'X', 'X': 2}

In [101]:
list(range(8))

[0, 1, 2, 3, 4, 5, 6, 7]

In [102]:
list(range(2, 8))

[2, 3, 4, 5, 6, 7]

In [104]:
list(range(8))
list(range(0,8,1))

[0, 1, 2, 3, 4, 5, 6, 7]

In [105]:
list(range(2, 8, 2))

[2, 4, 6]

In [110]:
list(range(-2, 8, -1))

[]

In [111]:
list(range(8, -2, -1))

[8, 7, 6, 5, 4, 3, 2, 1, 0, -1]

In [33]:
diccionario[1]

'X'

In [ ]:
diccionario["X"]

In [34]:
diccionario["clave"] = ["2", 2]
diccionario

{1: 'X', 'X': 2, 'clave': ['2', 2]}

In [35]:
diccionario[2] = 4
diccionario

{1: 'X', 'X': 2, 'clave': ['2', 2], 2: 4}

In [36]:
print(diccionario["clave"])

['2', 2]

In [37]:
diccionario["clave"] = ["2", 4]
diccionario

{1: 'X', 'X': 2, 'clave': ['2', 4], 2: 4}

In [38]:
diccionario["clave"] = diccionario["clave"]
diccionario

{1: 'X', 'X': 2, 'clave': ['2', 4], 2: 4}

In [39]:
diccionario["X"] = "3"
diccionario

{1: 'X', 'X': '3', 'clave': ['2', 4], 2: 4}

In [40]:
diccionario["x"] = 99
diccionario

{1: 'X', 'X': '3', 'clave': ['2', 4], 2: 4, 'x': 99}

In [41]:
diccionario["X"] = diccionario["x"]
diccionario

{1: 'X', 'X': 99, 'clave': ['2', 4], 2: 4, 'x': 99}

In [42]:
del diccionario["clave"]
diccionario

{1: 'X', 'X': 99, 2: 4, 'x': 99}

In [43]:
del diccionario["x"]
diccionario

{1: 'X', 'X': 99, 2: 4}

`dict.update`

In [44]:
diccionario.update({'before' : 24})
diccionario

{1: 'X', 'X': 99, 2: 4, 'before': 24}

In [45]:
diccionario["before"] = 2
diccionario

{1: 'X', 'X': 99, 2: 4, 'before': 2}

In [46]:
diccionario["dict"] = diccionario

In [47]:
print(diccionario)

{1: 'X', 'X': 99, 2: 4, 'before': 2, 'dict': {...}}

In [48]:
dict_dnis = {}
dict_dnis["899008667J"] = ["Paco", 1.78, 33, 4000000]
dict_dnis["676777888Y"] = ["Paco", 1.78, 33, 30]
dict_dnis

{'899008667J': ['Paco', 1.78, 33, 4000000],
 '676777888Y': ['Paco', 1.78, 33, 30]}

### Lista (copia)

In [3]:
lista = [2, "A", 5, "Z"]
print("lista:", lista)

# k no es una copia de lista, es una referencia a lista
k = lista

lista.remove("A")
print("lista:", lista)
print("k:", k)

lista: [2, 'A', 5, 'Z']
lista: [2, 5, 'Z']
k: [2, 5, 'Z']

In [4]:
print(id(lista))
print(id(k))

2054348265096
2054348265096

In [5]:
lista = [2, "A", 5, "Z"]
print("lista:", lista)

k = lista[:] 

lista.remove("A")
print("lista:", lista)
print("k:", k)

print(id(lista))
print(id(k))

lista: [2, 'A', 5, 'Z']
lista: [2, 5, 'Z']
k: [2, 'A', 5, 'Z']
2054321370184
2054321623176

In [7]:
lista = [2, "A", 5, "Z"]
print("lista:", lista)

k = lista.copy()
print(id(lista))
print(id(k))

lista: [2, 'A', 5, 'Z']
2054348265096
2054321597832

In [8]:
lista = [2, "A", 5, "Z"]
print("lista:", lista)

# [n:m)
k = lista[0:2] 
print("k:", k)

lista: [2, 'A', 5, 'Z']
k: [2, 'A']

In [23]:
lista = [2, "A", 5, "Z"]
print("lista:", lista)

for x in lista[:2]:
    k = lista[:2]
    print("k:", k)
    k.remove(x)
    print("k después de remove:", k)

print("lista:", lista)
print("lista[:2]:", lista[:2])

lista: [2, 'A', 5, 'Z']
k: [2, 'A']
k después de remove: ['A']
k: [2, 'A']
k después de remove: [2]
lista: [2, 'A', 5, 'Z']
lista[:2]: [2, 'A']

In [24]:
lista = [2, "A", 5, "Z"]
print("lista:", lista)

for x in lista[:2]:
    lista.remove(x)

print("lista:", lista)
print("lista[:2]:", lista[:2])

lista: [2, 'A', 5, 'Z']
lista: [5, 'Z']
lista[:2]: [5, 'Z']

In [22]:
lista = [2, "A", 5, "Z"]
print("lista:", lista)

k = lista[:2]
g = lista[:2]
m = lista[:2]

print(id(lista))
print(id(k))
print(id(g))
print(id(m))

lista: [2, 'A', 5, 'Z']
2054321623176
2054348329096
2054321625864
2054348265096

In [14]:
lista = [2, "A", 5, "Z"]
print("lista:", lista)

lista_numeros = []
for x in lista:
    if type(x) == int:
        lista_numeros.append(x)

print("lista_numeros:", lista_numeros)

lista: [2, 'A', 5, 'Z']
lista_numeros: [2, 5]