# Apartado 2 - Collections

º- Listas, tuplas y colecciones
- Diccionarios

--------------------------------------------------------------------------------------

In [4]:
x = 2
y = "2"

# listas
lista = [x, y, 99, "85715", 518.31]
print(type(lista))
print("Elementos de lista:", len(lista))
print(lista)

<class 'list'>
Elementos de lista: 5
[2, '2', 99, '85715', 518.31]

## Listas

In [49]:
lc = ["red", "blue", "green"]
print(type(lc))
print(lc)

<class 'list'>
['red', 'blue', 'green']

In [3]:
len(lc)

3

In [4]:
la = ["red", "blue", "green", 2, 6.9]
la

['red', 'blue', 'green', 2, 6.9]

In [7]:
# Acceder a posiciones
lista = [x, y, 99, "85715", 518.31]

print(lista[2])
z = int(lista[3]) + lista[4]
print(z)

99
86233.31

In [9]:
# Acceder a posiciones
# Empiezan desde la posición 0
# La última posición es -1 
lista = [x, y, 99, "85715", 518.31]

print(lista[2])
z = int(lista[-2]) + lista[-1]
print(z)

99
86233.31

In [13]:
lista = [x, y, 99, "85715", 518.31]

tamano_lista = len(lista)  # 5
posicion_de_ultimo_elemento = tamano_lista - 1  # 4
posicion_de_elemento_del_medio = posicion_de_ultimo_elemento // 2  # 2

print("tamano_lista:", tamano_lista)
print("posicion_de_ultimo_elemento:", posicion_de_ultimo_elemento)
print(lista[posicion_de_ultimo_elemento], lista[-1])
print("posicion_de_elemento_del_medio:", posicion_de_elemento_del_medio)
print(lista[2], lista[posicion_de_elemento_del_medio])

tamano_lista: 5
posicion_de_ultimo_elemento: 4
518.31 518.31
posicion_de_elemento_del_medio: 2
99 99

In [19]:
# Listas son colecciones de elementos
# Empiezan por la posición 0
# Si empezamos al revés, empieza desde el -1
# Pueden contener cualquier cantidad de elementos

lista = [x, y, 99, "85715", 518.31]
lista[-6]

IndexError: list index out of range

In [24]:
# Accediendo al último elemento del último elemento
lista = [x, y, 99, "85715", 518.31, [-1, "A"]]
print(lista[5][-1])
print(lista[-1][-1])
print(lista[-1][1])

A
A
A

In [5]:
print(la[0])

red

In [6]:
la[4]

6.9

In [7]:
# Última posición
la[-1]

6.9

In [8]:
# Penúltima posición
la[-2]

2

In [9]:
len(la)

5

In [10]:
la

['red', 'blue', 'green', 2, 6.9]

In [11]:
tamano = len(la)
la[tamano - 2]

2

In [25]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0]

print(bicycles)
print(message)

['trek', 'cannondale', 'redline', 'specialized']
My first bicycle was a trek

`list.reverse`

In [13]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

In [26]:
lista = [2, 4, "x", "x", 6]
print(lista)
lista.remove(4)
print(lista)

[2, 4, 'x', 'x', 6]
[2, 'x', 'x', 6]

In [28]:
# Eliminar por valor del elemento
lista = [2, 4, "x", 6, "x"]
print(lista)
lista.remove("x")
print(lista)

[2, 4, 'x', 6, 'x']
[2, 4, 6, 'x']

In [40]:
# Eliminar por posición del elemento

lista = [2, 4, "x", 6, "x"]
print(lista)
lista.pop()
lista.pop()
lista.pop()
lista.pop()
print(lista)

[2, 4, 'x', 6, 'x']
[2]

In [46]:
lista = ["A", "2"]
print(lista)
elemento_eliminado = lista.pop(0)
print("elemento_eliminado:", elemento_eliminado)
print(lista)

['A', '2']
elemento_eliminado: A
['2']

In [48]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati'] 
motorcycles.remove("honda")
motorcycles.remove("yamaha")
motorcycles.remove("suzuki")
motorcycles.remove("ducati")
print(motorcycles)

[]

In [49]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati'] 
motorcycles.pop()
motorcycles.pop()
motorcycles.pop()
motorcycles.pop()
print(motorcycles)

[]

In [50]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati'] 
motorcycles.clear()
print(motorcycles)

[]

In [51]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati', 'suzuki'] 
# count devuelve el número de ocurrencias de un valor 
print(motorcycles.count('suzuki'))

2

In [17]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati'] 
print(motorcycles)

too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print(too_expensive + " is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']
ducati is too expensive for me.

In [52]:
motorcycles.remove(too_expensive)
print("END")

NameError: name 'too_expensive' is not defined

In [53]:
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati', 'suzuki']

In [54]:
# añadir un elemento a la última posición
motorcycles.append(35235)
print("Tamaño de la lista: " + str(len(motorcycles)))
print("salto")
print("m")
print("n")
print("---------")
print(motorcycles[-2])
print("---------")
print(motorcycles)

Tamaño de la lista: 6
salto
m
n
---------
suzuki
---------
['honda', 'yamaha', 'suzuki', 'ducati', 'suzuki', 35235]

In [55]:
print(type(motorcycles))

<class 'list'>

In [20]:
type(len(motorcycles))

int

[2, 6]   --> el corchete es incluido

(2, 6]   --> el paréntesis es no incluido

In [56]:
# Cuando cogemos varios elementos de la lista [n:m), 'm' es sin incluir

lista = [1, 2, 3, 6, 7, 8]

print(lista[1:4])

[2, 3, 6]

In [57]:
print(lista[2:4])

[3, 6]

In [58]:
l = [1, 2, 3, 4, 5 ,6 ,7 ,8 ,9]

print(l[0:4])

[1, 2, 3, 4]

--------------------------------------------------------------------------------------

### Tuplas

Las tuplas se inicializan con paréntesis

Son inmutables

In [60]:
tupla = ("2", "3", "2")
print(type(tupla))
print(tupla)

<class 'tuple'>
('2', '3', '2')

In [61]:
tupla.remove("2")

AttributeError: 'tuple' object has no attribute 'remove'

In [62]:
print(len(tupla))

3

In [63]:
print(type(tupla))

<class 'tuple'>

In [64]:
l = []
print(type(l))

<class 'list'>

In [65]:
t = ("A", 2, "B")
print(t)
print(type(t))

('A', 2, 'B')
<class 'tuple'>

In [78]:
t = ("A", 2, "B")
print(t)
t = list(t)
print(type(t))
print(t)
t.remove("A")
print(t)
t = tuple(t)
print(type(t))
print(t)

('A', 2, 'B')
<class 'list'>
['A', 2, 'B']
[2, 'B']
<class 'tuple'>
(2, 'B')

In [79]:
t = ("A", 
    2, 
    "B", 
    ["Bootcamp", "DataScience"],
     (-80, -100))

print(t[3][1])

DataScience

In [87]:
lista = [2, 4, "x", 6, "x"]

print(lista)
tupla = tuple(lista)
print(tupla)

[2, 4, 'x', 6, 'x']
(2, 4, 'x', 6, 'x')

In [27]:
t = ("5,7", 8, [2,5])
t_to_list = list(t)
print(type(t))
print(type(t_to_list))
list_to_tuple = tuple(t_to_list)

<class 'tuple'>
<class 'list'>

In [28]:
t = (2,4,6,8)
print(type(t))
t = list(t)
t.append(45)
print(type(t))
t = tuple(t)
print(type(t))
t

<class 'tuple'>
<class 'list'>
<class 'tuple'>

(2, 4, 6, 8, 45)

--------------------------------------------------------------------------------------

### Set

In [29]:
l = ["x", 6, "y", "y", "a", 7, 8, 5]
print("l:", l)
print(type(l))
s = set(l)
print(type(s))
print("s:", s)
len(s)

l: ['x', 6, 'y', 'y', 'a', 7, 8, 5]
<class 'list'>
<class 'set'>
s: {'y', 5, 6, 7, 8, 'a', 'x'}

7

--------------------------------------------------------------------------------------

## Diccionarios

```python
{"soy_key": [4, "soy_value"]}
```

In [32]:
diccionario = {1:"X", "X":2}
diccionario

{1: 'X', 'X': 2}

In [33]:
diccionario[1]

'X'

In [ ]:
diccionario["X"]

In [34]:
diccionario["clave"] = ["2", 2]
diccionario

{1: 'X', 'X': 2, 'clave': ['2', 2]}

In [35]:
diccionario[2] = 4
diccionario

{1: 'X', 'X': 2, 'clave': ['2', 2], 2: 4}

In [36]:
print(diccionario["clave"])

['2', 2]

In [37]:
diccionario["clave"] = ["2", 4]
diccionario

{1: 'X', 'X': 2, 'clave': ['2', 4], 2: 4}

In [38]:
diccionario["clave"] = diccionario["clave"]
diccionario

{1: 'X', 'X': 2, 'clave': ['2', 4], 2: 4}

In [39]:
diccionario["X"] = "3"
diccionario

{1: 'X', 'X': '3', 'clave': ['2', 4], 2: 4}

In [40]:
diccionario["x"] = 99
diccionario

{1: 'X', 'X': '3', 'clave': ['2', 4], 2: 4, 'x': 99}

In [41]:
diccionario["X"] = diccionario["x"]
diccionario

{1: 'X', 'X': 99, 'clave': ['2', 4], 2: 4, 'x': 99}

In [42]:
del diccionario["clave"]
diccionario

{1: 'X', 'X': 99, 2: 4, 'x': 99}

In [43]:
del diccionario["x"]
diccionario

{1: 'X', 'X': 99, 2: 4}

`dict.update`

In [44]:
diccionario.update({'before' : 24})
diccionario

{1: 'X', 'X': 99, 2: 4, 'before': 24}

In [45]:
diccionario["before"] = 2
diccionario

{1: 'X', 'X': 99, 2: 4, 'before': 2}

In [46]:
diccionario["dict"] = diccionario

In [47]:
print(diccionario)

{1: 'X', 'X': 99, 2: 4, 'before': 2, 'dict': {...}}

In [48]:
dict_dnis = {}
dict_dnis["899008667J"] = ["Paco", 1.78, 33, 4000000]
dict_dnis["676777888Y"] = ["Paco", 1.78, 33, 30]
dict_dnis

{'899008667J': ['Paco', 1.78, 33, 4000000],
 '676777888Y': ['Paco', 1.78, 33, 30]}