# Apartado 3 - Bucles

- Iteraciones | `for`
- `range` & `enumerate`
- `while`
- `break` & `continue`

--------------------------------------------------------------------------------------

In [1]:
# Iteración
# Bucle
# posición | índice
# contador
# valor de elemento

# Los bucles for se utilizan para recorrer una colección 

l = ["A", "B", 2, 4]

print(l[0])
print(l[1])
print(l[2])
print(l[3])

A
B
2
4

In [6]:
# Hay 3 tipos de for (recorren por el valor del elemento):
# for in --> recorre por valor del elemento
# for range  --> recorren por el valor del elemento y posición
# for enumerate  --> recorren por valor y posición del elemento

lista = ["A", "B", 2, 4]
for valor_elem in lista:
    print("------")
    print(valor_elem)
print("END")

------
A
------
B
------
2
------
4
END

In [8]:
lista_edades = [80, 25, 2, 40]
for edad in lista_edades:
    print("------")
    print("La edad es:", edad)
print("END")

------
La edad es: 80
------
La edad es: 25
------
La edad es: 2
------
La edad es: 40
END

In [9]:
student_list = [("Gabriel Vázquez", 29, 1.75), ("Leonardo Sánchez", 24, 1.82), ("Piero Termini", 25, 1.71), ("Marta Buesa", 35, 1.66), ("Silvia Pasinato", 37, 1.63), ("Faro Zamani", 29, 1.90), ('Miguel Nievas', 27, 1.80), ("Alejandro Medina", 28, 1.70), ("Cristina Martínez", 32, 1.60), ("Francisco Palma", 36, 1.74), ("Jorge Duque", 45, 1.72), ("Jesús Llanes", 41, 1.65), ("Luis Pech", 18, 1.71), ("Marta Gómez", 30, 1.65), ("Jennifer Sanchez", 40, 1.60), ("Diego Isla", 39, 1.80), ("Nuria Brocar", 35, 1.75), ("Antonio Campaña", 23, 1.77), ("Isabella Schindowski", 34, 1.60), ("Juan Maniglia", 32, 1.75), ("David Suárez", 27, 1.70), ("Antonio Jiménez", 34, 1.80), ("Carlos Hernández", 27, 1.77), ("Erik Urresta", 28, 1.70), ("Marcos Lobo", 35, 1.80), ("Natalia Fernandez", 31, 1.70)]

In [10]:
len(student_list)

26

In [11]:
for informacion_persona in student_list:
    print(informacion_persona)

('Gabriel Vázquez', 29, 1.75)
('Leonardo Sánchez', 24, 1.82)
('Piero Termini', 25, 1.71)
('Marta Buesa', 35, 1.66)
('Silvia Pasinato', 37, 1.63)
('Faro Zamani', 29, 1.9)
('Miguel Nievas', 27, 1.8)
('Alejandro Medina', 28, 1.7)
('Cristina Martínez', 32, 1.6)
('Francisco Palma', 36, 1.74)
('Jorge Duque', 45, 1.72)
('Jesús Llanes', 41, 1.65)
('Luis Pech', 18, 1.71)
('Marta Gómez', 30, 1.65)
('Jennifer Sanchez', 40, 1.6)
('Diego Isla', 39, 1.8)
('Nuria Brocar', 35, 1.75)
('Antonio Campaña', 23, 1.77)
('Isabella Schindowski', 34, 1.6)
('Juan Maniglia', 32, 1.75)
('David Suárez', 27, 1.7)
('Antonio Jiménez', 34, 1.8)
('Carlos Hernández', 27, 1.77)
('Erik Urresta', 28, 1.7)
('Marcos Lobo', 35, 1.8)
('Natalia Fernandez', 31, 1.7)

In [12]:
# media = suma de todos / cantidad de elementos

# Mostrar todas las edades
for tupla_persona in student_list:
    print(tupla_persona[1])

29
24
25
35
37
29
27
28
32
36
45
41
18
30
40
39
35
23
34
32
27
34
27
28
35
31

In [14]:
x = 1

In [37]:
x = x + 1
print(x)

24

In [46]:
frutas = ["pera", "manzana", "platano"]

for fruta in frutas:
    print("----------")
    print(fruta)
    if fruta == "manzana":
        print(fruta)

----------
pera
----------
manzana
manzana
----------
platano

In [48]:
frutas = ["pera", "manzana", "platano"]

for fruta in frutas:
    if fruta == "pera" or fruta == "platano":
        print(fruta)
    else:
        print("Entonces es una manzana")

pera
Entonces es una manzana
platano

In [49]:
frutas = ["pera", "manzana", "platano"]

for fruta in frutas:
    if fruta != "manzana":
        print(fruta)

pera
platano

In [51]:
# Los que empiezan por la letra 'p'
frutas = ["pera", "manzana", "platano"]

for fruta in frutas:  # fruta es el VALOR DEL ELEMENTO
    if fruta[0] == "p":  # primer caracter es p
        print(fruta)

p
pera
m
p
platano

In [42]:
# media = suma de todos / cantidad de elementos

suma_de_edades = 0
# Mostrar todas las edades
for tupla_persona in student_list:
    edad = tupla_persona[1]
    suma_de_edades += edad
    #print("suma_de_edades:", suma_de_edades)

numero_personas_clase = len(student_list)
media_edades = suma_de_edades / numero_personas_clase
print("suma_de_edades:", suma_de_edades)
print("numero_personas_clase:", numero_personas_clase)
print("media_edades:", media_edades)

suma_de_edades: 821
numero_personas_clase: 26
media_edades: 31.576923076923077

## Iteraciones | bucle `for`

In [ ]:
lista = ["red", 2, "blue", 4.0]
lista2 = [2, 4, 6, 8, 10, 12, 9518591859]

for x in lista2:
    if x > 6:
        print(x)
    elif x == 6:
        print(x)
    elif x == 4:
        lista2.append(x)

lista2

In [ ]:
lista = ["Red", "GabriXel", "Blue", 2]

for gato in lista:
    if gato == "GabriXel":
        print(gato[5])

In [ ]:
# Sacar del elemento 2 la posición 5.
# Es String
lista = ["Red", "GabriXel", "Blue", 2]

for gato in lista:
    if gato == lista[1]:
        print(gato[5])

In [ ]:
# Mostrar la iteración del for
# Es String
lista = ["Red", "GabriXel", "Blue", 2]

count = 1
for gato in lista:
    if count == 2:
        print(gato[5])
    print(count)
    count += 1

In [ ]:
players = ['charles', 'martina', 'michael', 'florence', 'eli'] 

print("Here are the first three players on my team:")
for player in players[:3]:
    print(player.title())

In [ ]:
dimensions = (200, 50)
for dimension in dimensions:
    print(dimension)

In [ ]:
lista = [1, 3, "5", 8]

lista[2] = "X"
lista

`for` dictionaries

In [ ]:
for elem in diccionario:
    print("Claves:", elem)

In [ ]:
for elem in diccionario.values():
    print(elem)

In [ ]:
for elem in diccionario.keys():
    print(elem)

In [ ]:
diccionario

In [ ]:
for maria, alba in diccionario.items():
    print("k:", maria)
    print("v:", alba)
    print("-----------------")

In [ ]:
for k, v in diccionario.items():
    print("k", k)
    print("v", v)
    if k == "dict":
        for x, y in v.items():
            print("x", x)
            print("y", y)
    print("-------------")

--------------------------------------------------------------------------------------

## `range` & `enumerate`

In [ ]:
lista = ["Pepito", "Lorenzo", "Juan", "Laura", "Alicia", "Mónica"]

for x in lista:
    print(x)

In [ ]:
lista

In [ ]:
tamano_lista = len(lista)
for x in range(tamano_lista):
    print("x:", x)
    print("elem:", lista[x])
    print("-------------")

In [ ]:
for x in enumerate(lista):
    print(x)

In [ ]:
for pos, elem in enumerate(lista):
    print("pos:", pos)
    print("elem:", elem)
    print("-------------")

In [1]:
ol = ['Pepito', 'Lorenzo', [6, 8], 'Laura', 'Alicia', 'Mónica']

ol[2][1]

8

In [ ]:
for i, x in enumerate(ol):
    if i == 2:
        print(x[1])

In [ ]:
x = 2
print(isinstance(x, int))

In [ ]:
for i, x in enumerate(ol):
    print("Iteración:", i+1)
    if isinstance(x, list):
        print("La posición es: ", i)
        print(x[1])

In [ ]:
al = ['Pepito', 'Lorenzo', [6, 8], 'Laura', (5, 78), 'Mónica']

In [ ]:
for i, x in enumerate(al):
    print("Iteración:", i+1)
    if isinstance(x, (list, tuple)):
        print("Se cumple")
        print("La posición es: ", i)
        print(x[1])
        break
    print("---------------")

In [ ]:
j = range(15)
print(type(j))
j

In [ ]:
k = list(range(15))
k

--------------------------------------------------------------------------------------

## bucle `while`

In [7]:
l = "dija"
acum = 0
for i in l:
    acum = acum + 1
    print(i, acum)

d 1
i 2
j 3
a 4

In [8]:
l = "dija"
acum = 1
for i in l:
    print(i, acum)
    acum = acum + 1

d 1
i 2
j 3
a 4

In [9]:
acum = 0
while acum < 5:
    print("Iteración: ", acum + 1)
    acum += 1

Iteración:  1
Iteración:  2
Iteración:  3
Iteración:  4
Iteración:  5

In [12]:
lista = [2, 4, 5, "Yo"]
l = [], None, 0, False
while len(lista)==4:
    print("K")
    lista.pop(1)

K

In [14]:
lista[0]
lista[1]
lista[2]

'Yo'

In [15]:
lista = [2, 4, 5, "Yo"]
for x in lista:
    print(x)

2
4
5
Yo

In [16]:
lista = [2, 4, 5, "Yo"]
acum = 0
tamano_lista = len(lista)
while acum < 4:
    print(lista[acum])
    acum += 1

2
4
5
Yo

In [17]:
lista = [2, 4, 5, "Yo"]
acum = 0
tamano_lista = len(lista)
while acum <= tamano_lista:
    if acum >= tamano_lista:
        print("Ha entrado en el break")
        print("acum:", acum)
        print("tamano_lista", tamano_lista)
        break
    print(lista[acum])
    print("acum:", acum)
    acum += 1
    print("--------------------")

print("Esto está fuera del while")

2
acum: 0
--------------------
4
acum: 1
--------------------
5
acum: 2
--------------------
Yo
acum: 3
--------------------
Ha entrado en el break
acum: 4
tamano_lista 4
Esto está fuera del while

In [ ]:
acum = 0 
if acum < 5:
    print("Es menor")

--------------------------------------------------------------------------------------

## `break` & `continue`

In [5]:
lista = ["alex", 2, "gab", "l", "8"]
for i in lista:
    print(i)
    if i == "l":
        break

alex
2
gab
l

In [6]:
lista = ["alex", "begoña", "gabriel", "sara", "ataulfo"]

for k in lista:
    if k == "gabriel":
        continue
    print(k)

alex
begoña
sara
ataulfo