In [15]:
student_list = [("Gabriel Vázquez", 29, 1.75), ("Leonardo Sánchez", 24, 1.82), ("Piero Termini", 25, 1.71), ("Marta Buesa", 35, 1.66), ("Silvia Pasinato", 37, 1.63), ("Faro Zamani", 29, 1.90), ('Miguel Nievas', 27, 1.80), ("Alejandro Medina", 28, 1.70), ("Cristina Martínez", 32, 1.60), ("Francisco Palma", 36, 1.74), ("Jorge Duque", 45, 1.72), ("Jesús Llanes", 41, 1.65), ("Luis Pech", 18, 1.71), ("Marta Gómez", 30, 1.65), ("Jennifer Sanchez", 40, 1.60), ("Diego Isla", 39, 1.80), ("Nuria Brocar", 35, 1.75), ("Antonio Campaña", 23, 1.77), ("Isabella Schindowski", 34, 1.60), ("Juan Maniglia", 32, 1.75), ("David Suárez", 27, 1.70), ("Antonio Jiménez", 34, 1.80), ("Carlos Hernández", 27, 1.77), ("Erik Urresta", 28, 1.70), ("Marcos Lobo", 35, 1.80), ("Natalia Fernandez", 31, 1.70)]

print(student_list)
#import random
#random.choice(student_list)

[('Gabriel Vázquez', 29, 1.75), ('Leonardo Sánchez', 24, 1.82), ('Piero Termini', 25, 1.71), ('Marta Buesa', 35, 1.66), ('Silvia Pasinato', 37, 1.63), ('Faro Zamani', 29, 1.9), ('Miguel Nievas', 27, 1.8), ('Alejandro Medina', 28, 1.7), ('Cristina Martínez', 32, 1.6), ('Francisco Palma', 36, 1.74), ('Jorge Duque', 45, 1.72), ('Jesús Llanes', 41, 1.65), ('Luis Pech', 18, 1.71), ('Marta Gómez', 30, 1.65), ('Jennifer Sanchez', 40, 1.6), ('Diego Isla', 39, 1.8), ('Nuria Brocar', 35, 1.75), ('Antonio Campaña', 23, 1.77), ('Isabella Schindowski', 34, 1.6), ('Juan Maniglia', 32, 1.75), ('David Suárez', 27, 1.7), ('Antonio Jiménez', 34, 1.8), ('Carlos Hernández', 27, 1.77), ('Erik Urresta', 28, 1.7), ('Marcos Lobo', 35, 1.8), ('Natalia Fernandez', 31, 1.7)]

In [16]:
gabriel = "Gabriel Vázquez"
miguel = "Miguel Nievas"
cristina = "Cristina Martínez"
leo = "Leonardo Sánchez"

lista_nombres_profes = [gabriel, miguel, cristina, leo]
lista_estudiantes_sin_profes = []
# 1. eliminar las tuplas que contengan a los 4 profesores de la lista de
# estudiantes a partir del nombre
# 2. crear una lista que contenga solo los nombres de los alumnos

for persona_tupla in student_list:
    nombre = persona_tupla[0]
    if not (nombre in lista_nombres_profes):  # Si no es un profe
        lista_estudiantes_sin_profes.append(persona_tupla)

lista_estudiantes_sin_profes

[('Piero Termini', 25, 1.71),
 ('Marta Buesa', 35, 1.66),
 ('Silvia Pasinato', 37, 1.63),
 ('Faro Zamani', 29, 1.9),
 ('Alejandro Medina', 28, 1.7),
 ('Francisco Palma', 36, 1.74),
 ('Jorge Duque', 45, 1.72),
 ('Jesús Llanes', 41, 1.65),
 ('Luis Pech', 18, 1.71),
 ('Marta Gómez', 30, 1.65),
 ('Jennifer Sanchez', 40, 1.6),
 ('Diego Isla', 39, 1.8),
 ('Nuria Brocar', 35, 1.75),
 ('Antonio Campaña', 23, 1.77),
 ('Isabella Schindowski', 34, 1.6),
 ('Juan Maniglia', 32, 1.75),
 ('David Suárez', 27, 1.7),
 ('Antonio Jiménez', 34, 1.8),
 ('Carlos Hernández', 27, 1.77),
 ('Erik Urresta', 28, 1.7),
 ('Marcos Lobo', 35, 1.8),
 ('Natalia Fernandez', 31, 1.7)]

In [37]:
# Crea una lista de alturas de alumnos
# Crea una lista de edad de alumnos
# Muestra por pantalla la altura del alumno, ":", y edad de alumno 
# a partir de las dos listas creadas

lista_alturas_alumnos = []
lista_edades_alumnos = []

for estudiante_tupla in lista_estudiantes_sin_profes:
    altura = estudiante_tupla[2]
    lista_alturas_alumnos.append(altura)

for estudiante_tupla in lista_estudiantes_sin_profes:
    lista_edades_alumnos.append(estudiante_tupla[1])

print(lista_estudiantes_sin_profes[0])
print("lista_alturas_alumnos:\n", lista_alturas_alumnos)
print("lista_edades_alumnos:\n", lista_edades_alumnos)

for pos, valor_elem in enumerate(lista_alturas_alumnos):
    valor_elem == lista_alturas_alumnos[pos]

# for in range
for pos in range(len(lista_alturas_alumnos)):
    valor_altura = lista_alturas_alumnos[pos]
    if valor_altura < 1.7:
        print(lista_alturas_alumnos[pos], ":", lista_edades_alumnos[pos])

('Piero Termini', 25, 1.71)
lista_alturas_alumnos:
 [1.71, 1.66, 1.63, 1.9, 1.7, 1.74, 1.72, 1.65, 1.71, 1.65, 1.6, 1.8, 1.75, 1.77, 1.6, 1.75, 1.7, 1.8, 1.77, 1.7, 1.8, 1.7]
lista_edades_alumnos:
 [25, 35, 37, 29, 28, 36, 45, 41, 18, 30, 40, 39, 35, 23, 34, 32, 27, 34, 27, 28, 35, 31]
1.66 : 35
1.63 : 37
1.65 : 41
1.65 : 30
1.6 : 40
1.6 : 34

In [30]:
lista = ["A", "Z", "W"]
for pos, valor_elem in enumerate(lista):
    print(pos, ":", valor_elem)

0 : A
1 : Z
2 : W

In [33]:
lista_edades_alumnos[1]

25

In [31]:
# for in enumerate
for pos, valor_elem in enumerate(lista_alturas_alumnos):
    print(valor_elem, ":", lista_edades_alumnos[pos])

1.71 : 25
1.66 : 35
1.63 : 37
1.9 : 29
1.7 : 28
1.74 : 36
1.72 : 45
1.65 : 41
1.71 : 18
1.65 : 30
1.6 : 40
1.8 : 39
1.75 : 35
1.77 : 23
1.6 : 34
1.75 : 32
1.7 : 27
1.8 : 34
1.77 : 27
1.7 : 28
1.8 : 35
1.7 : 31

In [24]:
list(range(len(lista_alturas_alumnos)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [ ]:
gabriel = "Gabriel Vázquez"
miguel = "Miguel Nievas"
cristina = "Cristina Martínez"
leo = "Leonardo Sánchez"

lista_nombres_profes = [gabriel, miguel, cristina, leo]
lista_estudiantes_sin_profes = []
# 1. eliminar las tuplas que contengan a los 4 profesores de la lista de
# estudiantes a partir del nombre
# 2. crear una lista que contenga solo los nombres de los alumnos

for persona_tupla in student_list:
    nombre = persona_tupla[0]
    if nombre in lista_nombres_profes:  # Si es un profe
        pass  # No hace nada
    else:  # Si no es profe
        lista_estudiantes_sin_profes.append(persona_tupla)

lista_estudiantes_sin_profes

In [13]:
gabriel = "Gabriel Vázquez"
miguel = "Miguel Nievas"
cristina = "Cristina Martínez"
leo = "Leonardo Sánchez"

lista_nombres_profes = [gabriel, miguel, cristina, leo]

for profe in lista_nombres_profes:
    if profe == miguel:
        print("Salta al siguiente porque es Miguel")
        continue  # Salta al siguiente elemento de la colección
    print(profe)

for profe in lista_nombres_profes:
    if profe != miguel: 
        print(profe)

Gabriel Vázquez
Salta al siguiente porque es Miguel
Cristina Martínez
Leonardo Sánchez
Gabriel Vázquez
Cristina Martínez
Leonardo Sánchez

In [12]:
gabriel = "Gabriel Vázquez"
miguel = "Miguel Nievas"
cristina = "Cristina Martínez"
leo = "Leonardo Sánchez"

lista_nombres_profes = [gabriel, miguel, cristina, leo]

for profe in lista_nombres_profes:
    if profe == miguel:
        break  # Se para el bucle
    print(profe)

print("fuera de bucle")

Gabriel Vázquez
fuera de bucle

In [ ]:
gabriel = "Gabriel Vázquez"
miguel = "Miguel Nievas"
cristina = "Cristina Martínez"
leo = "Leonardo Sánchez"

lista_nombres_profes = [gabriel, miguel, cristina, leo]
lista_estudiantes_sin_profes = []
# 1. eliminar las tuplas que contengan a los 4 profesores de la lista de
# estudiantes a partir del nombre
# 2. crear una lista que contenga solo los nombres de los alumnos

for persona_tupla in student_list:
    nombre = persona_tupla[0]
    if nombre in lista_nombres_profes:  # Si es un profe
        continue  # No hace nada
    else:  # Si no es profe
        lista_estudiantes_sin_profes.append(persona_tupla)

lista_estudiantes_sin_profes

In [ ]:
# Ocurre el problema de eliminar el elemento en la misma posición en la que está el bucle.

for student_tupla in student_list:
    nombre = student_tupla[0]
    if nombre in lista_nombres_profes:  # Si nombre está en la 'lista_nombres_profes'
        print(student_tupla)
        student_list.remove(student_tupla)
print(student_list)

In [ ]:
for student_tupla in student_list:
    nombre = student_tupla[0]
    if nombre == gabriel or nombre == miguel or nombre == cristina or nombre == leo:
        print(student_tupla)

In [10]:
lista = ["A", "C", "G", 67]

for pos, elem in enumerate(lista):
    print("pos:", pos)
    print()
    if elem == "A" or elem == "G":
        lista.remove(elem)

print(lista)

['A', 'C', 'G', 67]
['C', 'G', 67]
['C', 67]

In [9]:
lista = ["A", "C", "G", 67]

if "A" in lista:
    print(True)
else:
    print(False)

True

In [24]:
# ejercicio: eliminar a los 4 profes de la lista completa
gabriel = "Gabriel Vázquez"
miguel = "Miguel Nievas"
cristian = "Cristina Martínez"
leo = "Leonardo Sánchez"

lista_nombres_profes = [gabriel, miguel, cristian, leo]

for student_tupla in student_list:
    if student_tupla[0] in lista_nombres_profes:
        student_list.remove(student_tupla)
print("----- Aquí imprimo la lista SIN los profes: -----")
print(student_list)
print("----- FIN ejercicio 1 -----")

----- Aquí imprimo la lista SIN los profes: -----
[('Piero Termini', 25, 1.71), ('Marta Buesa', 35, 1.66), ('Silvia Pasinato', 37, 1.63), ('Faro Zamani', 29, 1.9), ('Alejandro Medina', 28, 1.7), ('Francisco Palma', 36, 1.74), ('Jorge Duque', 45, 1.72), ('Jesús Llanes', 41, 1.65), ('Luis Pech', 18, 1.71), ('Marta Gómez', 30, 1.65), ('Jennifer Sanchez', 40, 1.6), ('Diego Isla', 39, 1.8), ('Nuria Brocar', 35, 1.75), ('Antonio Campaña', 23, 1.77), ('Isabella Schindowski', 34, 1.6), ('Juan Maniglia', 32, 1.75), ('David Suárez', 27, 1.7), ('Antonio Jiménez', 34, 1.8), ('Carlos Hernández', 27, 1.77), ('Erik Urresta', 28, 1.7), ('Marcos Lobo', 35, 1.8), ('Natalia Fernandez', 31, 1.7)]
----- FIN ejercicio 1 -----

In [6]:
lista = ["ana", "maria", "juan"]

a_mostrar = ""
for elem in lista:
    a_mostrar += elem
    if elem != lista[-1]:
        a_mostrar += ","
a_mostrar

'ana,maria,juan'

In [42]:
# Crear una función que devuelva (return) una lista con todos 
# los nombres  de alumnos cuyo nombre tenga una longitud mayor a 11
# y cuya edad sea mayor a 35

lista_estudiantes_sin_profes

def funcion_ejercicio1(pepito):

    lista_nombres_filtrada = []

    for estudiante_tupla in pepito:
        nombre = estudiante_tupla[0]
        edad = estudiante_tupla[1]
        if len(nombre) > 11 and edad > 35:
            lista_nombres_filtrada.append(nombre)
    return lista_nombres_filtrada

x = funcion_ejercicio1(pepito=lista_estudiantes_sin_profes)
print(x)

['Silvia Pasinato', 'Francisco Palma', 'Jesús Llanes', 'Jennifer Sanchez']

In [43]:
def funcion_ejercicio1_generico(pepito, longitud_nombre=11, min_edad=36):

    lista_nombres_filtrada = []

    for estudiante_tupla in pepito:
        nombre = estudiante_tupla[0]
        edad = estudiante_tupla[1]
        if len(nombre) >= longitud_nombre and edad >= min_edad:
            lista_nombres_filtrada.append(nombre)
    return lista_nombres_filtrada

x = funcion_ejercicio1_generico(pepito=lista_estudiantes_sin_profes,
                       longitud_nombre=7, min_edad=18)
print(x)

['Piero Termini', 'Marta Buesa', 'Silvia Pasinato', 'Faro Zamani', 'Alejandro Medina', 'Francisco Palma', 'Jorge Duque', 'Jesús Llanes', 'Luis Pech', 'Marta Gómez', 'Jennifer Sanchez', 'Diego Isla', 'Nuria Brocar', 'Antonio Campaña', 'Isabella Schindowski', 'Juan Maniglia', 'David Suárez', 'Antonio Jiménez', 'Carlos Hernández', 'Erik Urresta', 'Marcos Lobo', 'Natalia Fernandez']

In [46]:
palito = "|"
raya_baja = "_"

print(palito + raya_baja + palito + raya_baja + palito + raya_baja + palito)

|_|_|_|

In [50]:
ele = "|_" 
(ele * 3) + "|"

'|_|_|_|'

In [52]:
palito = "|"
raya_baja = "_"

ele = ""
for i in range(3):
    ele = palito + raya_baja
    fila_completa = (ele * 3) + palito 
    print(fila_completa)

|_|_|_|
|_|_|_|
|_|_|_|

In [55]:
def crea_tablero(f, c):
    palito = "|"
    raya_baja = "_"

    ele = ""
    for i in range(f):
        ele = palito + raya_baja
        fila_completa = (ele * c) + palito 
        print(fila_completa)

crea_tablero(f=9, c=9)

|_|_|_|_|_|_|_|_|_|
|_|_|_|_|_|_|_|_|_|
|_|_|_|_|_|_|_|_|_|
|_|_|_|_|_|_|_|_|_|
|_|_|_|_|_|_|_|_|_|
|_|_|_|_|_|_|_|_|_|
|_|_|_|_|_|_|_|_|_|
|_|_|_|_|_|_|_|_|_|
|_|_|_|_|_|_|_|_|_|

In [56]:
l = {2, 3, 5, 7, 1}

print(l[0])

TypeError: 'set' object does not support indexing

In [62]:
x = ("2")
type(x)

str